# Credentials and Environment files
.env
.deploy_key
.deploy_key.pub
.lxc_key
.lxc_key.pub
*.db
secrets.json
meal_plan.json
# Node dependencies and build files
node_modules/
dist/
.eslintcache
dashboard/build/

# Complete Docker service storage blocks
mosquitto/*
!mosquitto/**/.gitkeep
logs/*
!logs/.gitkeep
data/*
!data/.gitkeep
